.course-plate {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.course-plate .div {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(134, 168, 207) 0%, rgb(245, 116, 185) 100%);
  width: 1440px;
  height: 1255px;
  position: relative;
}

.course-plate .footer-plate {
  position: absolute;
  width: 1199px;
  height: 21px;
  top: 1189px;
  left: 80px;
}

.course-plate .overlap-group {
  position: absolute;
  width: 382px;
  height: 14px;
  top: 0;
  left: 811px;
}

.course-plate .text-wrapper {
  position: absolute;
  width: 251px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--p);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.course-plate .p {
  position: absolute;
  width: 164px;
  top: 0;
  left: 219px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--p);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.course-plate .text-wrapper-2 {
  position: absolute;
  width: 259px;
  top: 6px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--p);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.course-plate .socials {
  display: inline-flex;
  align-items: center;
  gap: 53px;
  position: absolute;
  top: 1140px;
  left: 80px;
}

.course-plate .twitter {
  position: relative;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.course-plate .instagram {
  position: relative;
  width: 29px;
  height: 29px;
  object-fit: cover;
}

.course-plate .youtube {
  position: relative;
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.course-plate .discord {
  position: relative;
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.course-plate .course-cards {
  display: flex;
  flex-wrap: wrap;
  width: 1253px;
  height: 705px;
  align-items: flex-start;
  gap: 86px 30px;
  position: absolute;
  top: 281px;
  left: 80px;
}

.course-plate .JEE-card {
  position: relative;
  width: 248px;
  height: 338px;
}

.course-plate .course-details {
  width: 258px;
  top: 274px;
  left: 0;
  position: absolute;
  height: 64px;
}

.course-plate .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .mains-advanced {
  position: absolute;
  top: 0;
  left: 117px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .text-wrapper-4 {
  position: absolute;
  top: 39px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .text-wrapper-5 {
  position: absolute;
  top: 39px;
  left: 62px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .text-wrapper-6 {
  position: absolute;
  top: 39px;
  left: 138px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .line {
  position: absolute;
  width: 247px;
  height: 1px;
  top: 31px;
  left: 0;
  object-fit: cover;
}

.course-plate .img-wrapper {
  position: absolute;
  width: 247px;
  height: 259px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-15.png);
  background-size: cover;
  background-position: 50% 50%;
}

.course-plate .jee {
  position: absolute;
  width: 110px;
  height: 130px;
  top: 64px;
  left: 68px;
  object-fit: cover;
}

.course-plate .div-2 {
  position: relative;
  width: 247px;
  height: 338px;
}

.course-plate .course-details-2 {
  position: absolute;
  width: 255px;
  height: 64px;
  top: 274px;
  left: 0;
}

.course-plate .btech {
  position: absolute;
  width: 188px;
  height: 160px;
  top: 49px;
  left: 29px;
  object-fit: cover;
}

.course-plate .text-wrapper-7 {
  position: absolute;
  top: 39px;
  left: 53px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .text-wrapper-8 {
  position: absolute;
  top: 39px;
  left: 161px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .bca {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 64px;
  left: 58px;
  object-fit: cover;
}

.course-plate .b-pharma-card {
  position: relative;
  width: 250px;
  height: 338px;
}

.course-plate .div-3 {
  position: relative;
  width: 247px;
  height: 337px;
}

.course-plate .course-details-3 {
  width: 255px;
  top: 273px;
  left: 0;
  position: absolute;
  height: 64px;
}

.course-plate .text-wrapper-9 {
  position: absolute;
  width: 46px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 25px;
}

.course-plate .text-wrapper-10 {
  width: 55px;
  position: absolute;
  top: 39px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
}

.course-plate .text-wrapper-11 {
  width: 69px;
  position: absolute;
  top: 39px;
  left: 62px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
}

.course-plate .text-wrapper-12 {
  position: absolute;
  width: 49px;
  top: 39px;
  left: 138px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
}

.course-plate .neet {
  position: absolute;
  width: 154px;
  height: 154px;
  top: 53px;
  left: 46px;
  object-fit: cover;
}

.course-plate .nda-card {
  position: relative;
  width: 251px;
  height: 337px;
}

.course-plate .course-details-4 {
  width: 255px;
  top: 273px;
  left: 4px;
  position: absolute;
  height: 64px;
}

.course-plate .nda {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 65px;
  left: 59px;
  object-fit: cover;
}

.course-plate .bsc-card {
  position: relative;
  width: 250px;
  height: 337px;
}

.course-plate .course-details-5 {
  width: 255px;
  top: 273px;
  left: 3px;
  position: absolute;
  height: 64px;
}

.course-plate .bsc {
  position: absolute;
  width: 151px;
  height: 151px;
  top: 53px;
  left: 51px;
  object-fit: cover;
}

.course-plate .course-details-6 {
  width: 253px;
  top: 273px;
  left: 0;
  position: absolute;
  height: 64px;
}

.course-plate .text-wrapper-13 {
  position: absolute;
  top: 39px;
  left: 123px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--p);
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 25px;
  white-space: nowrap;
}

.course-plate .gate {
  position: absolute;
  width: 134px;
  height: 130px;
  top: 65px;
  left: 64px;
  object-fit: cover;
}

.course-plate .overlap {
  position: absolute;
  width: 812px;
  height: 243px;
  top: 17px;
  left: 48px;
}

.course-plate .text-wrapper-14 {
  position: absolute;
  top: 118px;
  left: 32px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 43px;
  letter-spacing: -0.43px;
  line-height: 125px;
  white-space: nowrap;
}

.course-plate .navbar-all {
  position: absolute;
  width: 812px;
  height: 129px;
  top: 0;
  left: 0;
}

.course-plate .logo {
  position: absolute;
  width: 235px;
  height: 92px;
  top: 0;
  left: 0;
}

.course-plate .overlap-group-2 {
  position: relative;
  width: 233px;
  height: 92px;
}

.course-plate .ellipse {
  position: absolute;
  width: 92px;
  height: 92px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.course-plate .text-wrapper-15 {
  position: absolute;
  width: 172px;
  top: 0;
  left: 61px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 3.38px;
  line-height: 82px;
  white-space: nowrap;
}

.course-plate .navbar-buttons {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 34px;
  position: absolute;
  top: 31px;
  left: 556px;
}

.course-plate .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-white);
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: normal;
}

.course-plate .search {
  width: 280px;
  height: 31px;
  padding: 5px 9px;
  position: absolute;
  top: 98px;
  left: 532px;
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--p);
  background: none;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.21px;
  line-height: normal;
}

.course-plate .view-more {
  position: absolute;
  width: 45px;
  height: 33px;
  top: 42px;
  left: 1281px;
}
